.logo {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

ion-label {
    color: rgba(0, 0, 0, 0.7);
}

.text-big {
    color: #FFFFFF;
    /* Título en blanco */
    font-size: 1.8rem;
}