.square-button-border {
    width: 100%;
    height: 70px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    border-left: solid 1px rgba(0, 0, 0, 0.2);
}

.square-button {
    height: 70px;
    text-align: center;
}

.div-center {
    display: flex;
    justify-content: center;
    text-align: center;
    background: whitesmoke;
    border-top: #d4d3d3 solid 2px;
    box-shadow: black 0px 0px 1px;
}