<ion-footer [translucent]="true">
  <ion-grid>
    <ion-row class="div-center">

      <ion-col size="3">
        <ion-button (click)="ft_goToClasses()" fill="clear" class="square-button">
          <div><img width="25"
              src="https://cdn-icons-png.freepik.com/256/12571/12571469.png?ga=GA1.1.1686072600.1729371214&semt=ais_hybrid"
              alt="">
            <p>Clases</p>
          </div>
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button (click)="ft_goToRecord()" fill="clear" class="square-button">
          <div>
            <img width="25"
              src="https://cdn-icons-png.freepik.com/256/8771/8771926.png?ga=GA1.1.1686072600.1729371214&semt=ais_hybrid"
              alt="">
            <p>Pagos</p>
          </div>
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button (click)="ft_goToProduct()" fill="clear" class="square-button">
          <div>
            <img width="25"
              src="https://cdn-icons-png.freepik.com/256/14126/14126701.png?ga=GA1.1.1686072600.1729371214&semt=ais_hybrid"
              alt="">
            <p>Productos</p>
          </div>
        </ion-button>
      </ion-col>

      <ion-col size="3">
        <ion-button (click)="ft_goToSchedule()" fill="clear" class="square-button">
          <div>
            <img width="25"
              src="https://cdn-icons-png.freepik.com/256/595/595690.png?ga=GA1.1.1686072600.1729371214&semt=ais_hybrid"
              alt="">
            <p>Horarios</p>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-footer>